{% extends 'base.html'%}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/css/index.css"></script>
</head>
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!-- <script src="{{url_for('static',filename='js/script.js')}}"></script> -->
{% endblock %}
<body>
    <div class="container">
        <p id="work" class="label">Work</p>
        <p id="break" class="label">Break</p>
        <p id="cycles" class="label">Cycles</p>

        <!-- work timer -->
        <div id="work-timer" class="timer">
            <div>
                <p id="w_minutes">25</p>
            </div>
            <div>
                <p class="semicolon">:</p>
            </div>

            <div>
                <p id="w_seconds">00</p>
            </div>
        </div>


        <p id="counter" class="timer">0</p>

        <!-- break timer -->
        <div id="break-timer" class="timer">

            <div>
                <p id="b_minutes">5</p>
            </div>
            <div>
                <p class="semicolon">:</p>
            </div>

            <div>
                <p id="b_seconds">00</p>
            </div>
        </div>

        <button id="start" class="btn">Start</button>
        <button id="stop" class="btn">Pause</button>
        <button id="reset" class="btn">Reset</button>



    </div>
    <script src="../static/js/index.js"></script>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
</body>

</html>
{%endblock%}
{% extends 'base.html' %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center">Pomodoro</h1>

  {% for x in session%}
    <h1>{{ x.setPurpose }}</h1>
  {% endfor %}
</div>

{% endblock %}
